<form class="ui raised large form segment">
    <div class="ui grid container">
        <div class="wide column">
            <div class="ui search">
                <div class="ui fluid icon input">
                    <input class="prompt" type="text" id="college" placeholder="Search college by name or location...">
                    <i class="search icon"></i>
                </div>
                <div class="results"></div>
            </div>
        </div>
    </div>
</form>
<app-list-courses></app-list-courses>